body {
    display: block;
    height: 100vh;
}

.game-square {
    height: 30px;
    width: 30px;
}

.game-table {
    border: 2px black solid;
    border-collapse: separate;
    border-spacing: 4px;
}

.game-table td {
    border: 1px black solid;
}

.away {
    opacity: 0 !important;
}